/*

Current color scheme:

Main color - light blue - rgb(179, 209, 255)
Main font color - dark brown - rgb(77,40,0)


Might be a good idea to make standard settings, and then make everything that
is actually used, its own class.

*/


/*  primary pages */

body {
	background-color:rgb(179, 209, 255); 			/* main color */
	font-family: 'Goudy Old Style', sans-serif;
}

p {
	font-family: 'Goudy Old Style', sans-serif;
	font-weight: bold;
	font-size:15px;
	color: rgb(77, 40, 0);
	margin: 5px;
	text-align: center;
}

div.sessionMessage {
	font-size:70px;
	color: rgb(77,40,0);
	font-weight: bold;
}

/* login + create account page */

body.logon {
	background-color: rgb(63, 39, 13);
}

div.logon {
	font-family:sans-serif;
	font-size: 110px;
	color: white;
	text-align: center;
	padding: 50px;
	margin-bottom: 50px;
}

div.create {
	font-family:sans-serif;
	font-size: 90px;
	color: white;
	text-align: center;
	padding: 50px;
	margin-bottom: 50px;
}

input[type=text], input[type=password] {
	height: 90px;
	width: 550px;
	border-radius: 10px;
	font-size: 70px;
	margin: 5px;
}

input[type=submit] {
	background-color: rgb(77,40,0);
	border-color: white;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	font-variant: small-caps;
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 50px;
}

form {
	font-family:sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
}

p.logon {
	font-family:sans-serif;
	font-size: 30px;
	color: white;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
}

div.center {
	text-align: center;
}

div.errorText {
	font-size: 15px;
	color: white;
}

a.logon {
	text-decoration: underline;
	color: white;
}

p.disclaimer {
	color: white;
	text-align: center;
	font-size: 20px;
}

/* main menu page */

h1 {
	font-family: sans-serif,'Goudy Old Style';
	font-weight: bolder;
	font-size:110px;
	/*font-style: italic;*/
	color: rgb(77, 40, 0);
}

h2.category {
	font-family: sans-serif;
	font-size: 75px;
	text-align: left;
	font-style: normal;
	color: rgb(77,40,0);
	margin: 5px;
	margin-top: 20px;
	margin-bottom: 0px;
	font-weight: normal;
}

img.mainMenu {
	float:left;
	width:142px;
	height:142px;
	padding:4px 4px 4px 4px;
	vertical-align: middle;
	border-radius: 10px;
}

div.mainMenuDiv {
	background-color: white;
	border-style: solid;
	border-color: rgb(77, 40, 0);
	border-radius: 10px;
	border-width: 7px;
    height: 150px;
    width: 950px;
   /* width: 400px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    cursor: pointer;
}

p.mainMenu {
	font-family: 'Goudy Old Style', sans-serif;
	font-weight: bold;
	font-size:55px;
	color: rgb(77, 40, 0);
	margin: 40px 40px 10px 40px;
	padding-left: 50px;
}

p.previewIngredients {
	font-size: 25px;
}

a {
	text-decoration: none;
}

div.logout, div.reloadMenu {
	margin: 5px;
	font-size: 60px;
	color: rgb(77, 40, 0);
	border-style: solid;
	border-color: rgb(77, 40, 0);
	border-radius: 10px;
	border-width: 7px;
	display: inline-block;
	padding: 4px 16px 4px 16px;
	margin-top: 13px;
	text-decoration: none;
	text-align: center;
}

div.reloadMenu {
	padding: 4px 8px 4px 8px;
	font-size: 50px;
	border-width: 3px;
}

/* single drink page */

a.reloadMenu {
	text-decoration: none;
}

h2.oneDrink {
	font-family: 'Goudy Old Style', sans-serif;
	font-weight: bolder;
	font-size:95px;
	font-style: italic;
	color: rgb(77, 40, 0);
	width: 500px;
	height: 300px;
	padding: 5px 5px 15px 5px;
	margin: 0px 0px 0px 0px;
	text-align: center;
	display: inline-block;
	/*background-color:rgb(200, 200, 200);*/
}

img.oneDrink{
	float: left;
	width: 309px;
	height: 309px;
	border-radius: 10px;
	border-style: solid;
	border-color: rgb(77, 40, 0);
	border-width: 3px;
	margin-left: 10px;
}

p.description {
	font-family: 'Goudy Old Style', sans-serif;
	font-weight: bold;
	font-size: 40px;
	color: rgb(77, 40, 0);
	text-align: left;
	padding-left: 10px;
	margin: 30px 10px 30px 0px;
	width: 900px;
}

h3 {
	font-family: 'Goudy Old Style', sans-serif;
	font-weight: bold;
	font-size: 40px;
	color: rgb(77, 40, 0);
	text-align: left;
	padding-left: 10px;
	margin-top: 20px;
	margin-left: 10px;
}

ul {
	font-family: 'Goudy Old Style', sans-serif;
	font-weight: normal;
	font-size: 40px;
	color: rgb(77, 40, 0);
	margin-left: 10px;
}

input[type=button] {
	-webkit-appearance: none;
	background-color: white;
	color: rgb(77, 40, 0);
	font-family: 'Goudy Old Style', sans-serif;
	font-size: 45px;
	padding: 5px 8px 5px 8px;
	border-style: solid;
	border-color: rgb(77, 40, 0);
	border-radius: 10px;
	cursor: pointer;
	margin-left: 10px;
}

div#message {
	font-size: 35px;
}

div.reloadMenu {
	text-decoration: underline;
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;
}

a.reloadMenu {
	display: block;
	width: 421px;
}

	/* admin pages */

h1.admin {
	font-family: sans-serif;
	font-weight: bolder;
	font-size:60px;
	font-style: normal;
	color: rgb(77, 40, 0);
	text-align: left;
	margin-bottom: 40px;
}

div.admin {
	color: rgb(77,40,0);
	font-size: 85px;
	padding:10px 10px 10px 10px;
	border-color: rgb(77,40,0);
	border-style: solid;
	border-radius: 10px;
	border-width: 7px;
	text-align: center;
	vertical-align: middle;
	width: 490px;
	cursor: pointer;
	margin-left: 15px;
}

/* bartender screen */

div.firstDrinkUp {
	background-color: white;
	border-style: solid;
	border-color: rgb(77, 40, 0);
	border-radius: 10px;
    height: auto;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

p.bartender {
	font-family: sans-serif;
	font-weight: normal;
	font-size:30px;
	color: rgb(77, 40, 0);
	margin: 25px;
	padding-left: 0px;
}

/* manage drink menu page */

form.manageMenu {
	color: rgb(77,40,0);
}
